.avatar-page {
  margin-left: 130px;
  font-family: "Goldman", cursive;
  color: #1818f0;
  font-size: 13vh;
  display: flex;
  flex-direction: row;
}

.avatar-bar {
  width: 85px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: scroll;
  background-color: rgb(32, 31, 31);
  overflow: hidden;
}

.guild {
  height: 55px;
  width: 55px;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.17 ease-in-out 0.3sec;
}

.guild-avatar:hover {
  transform: rotate(30deg) scale(1.25);
  border-right: 3px solid whitesmoke;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.952);
}
